@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");


@import "./assets/helpers/variables";
@import "./assets/helpers/mixin";

@import "./assets/components/classes";
@import "./assets/components/header";
@import "./assets/components/hero";
@import "./assets/components/actual";
@import "./assets/components/posts";
@import "./assets/components/mac";
@import "./assets/components/footer";
@import "./assets/components/media";


body {
    font-family: "Inter";
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}
