.actual {
    &__content {
        display: flex;
        align-items: center;
        border: 1px solid #E2E2E2;
        box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
        border-radius: 5px;
    }
    &__left {
        padding-right: 77px;
        padding-left: 52px;
    }
    &__title {
        @include font(700, 30px, #2D3748);
    }
    &__description {
        @include font(400, 14px, $text-gray);
        margin-top: 27px;
        margin-bottom: 30px;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
    }
    &__date {
        @include font(400, 12px, $text-gray);
    }
    &__details {
        @include font(700, 12px, #2D3748);
    }
}